<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.admin.system.server.mapper.MenuMapper">

    <select id="countChildrenItems" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_menu WHERE pid = #{menuId} AND deleted = 0
    </select>
    <select id="selectMenuTree" resultType="com.zzh.admin.system.sdk.entity.vo.MenuVO">
        select id, pid, menu_name, type, level, reference, menu_order from t_menu
                                                                      where
                                                                          tenant_id = #{tenantId}
                                                                        and type = 1
                                                                        and deleted = 0
    </select>
</mapper>