<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.admin.system.server.mapper.LoginUserMapper">

    <select id="selectByTenantIdAndMobileAndPassword"
            resultType="com.zzh.admin.system.server.entity.LoginUserDO">
        select user_id,tenant_id, nickname, avatar from t_login_user
                                         where
                                             tenant_id = #{tenantId}
        and mobile = #{mobile} and password = #{password}
        and status = 1
    </select>

    <select id="selectByTenantIdAndEmailAndPassword"
            resultType="com.zzh.admin.system.server.entity.LoginUserDO">
        select user_id,tenant_id, nickname, avatar from t_login_user
        where
            tenant_id = #{tenantId}
          and email = #{email} and password = #{password}
          and status = 1
    </select>
</mapper>